#game img {
    position: absolute;
}

#barVie{
  width: 200px;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 20px;
  background: red;
  z-index: 90000;
}

#pourcentageVie{
  width: 100%;
  top: 0px;
  height: 20px;
  background: green;
  z-index: 90001;
}

#tempsRestant{
  color: white;
    position: fixed;
    font-size: 1.2em;
    top: 0px;
    right: 205px;
    height: 20px;
    z-index: 90000;
}

.popup-brutforce{
  width: 500px;
  background: #a1afb8;
  padding: 10px;
}

.popup-brutforce textarea{
  width: 100%;
}



.modalCustom {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    margin-bottom: 10px;
    left: 0;
    top: 0;
    
  font-size: 2em;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalCustom textarea{
  width: 100%;
  background: black;
  color: green;
}

/* Modal Content */
.modalCustom-content {
    background: #a1afb8;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}